body{
    margin:0px;
    padding:0px;
    background:linear-gradient(to left, rgb(11, 130, 241), rgba(75, 177, 236, 0.753) );
}
.app{
    display:flex;
    flex-direction: column;
    justify-content: center;
}


.heading{
    text-align:center;
    font-family:'Bigelow Rules';
    color:brown;
    font-size:70px;
}

